.small-screen-button {
    display: none;
    margin: 20px 0;
}
@media screen and (max-width: 800px) {
    .small-screen-button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        div {
            max-width: 230px;
            width: 100%;
        }
    }
}