.homebartopcontainer {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(219, 218, 218, 0.438);
    div {
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 40px;
        }
        div {
            padding: 12px 0;
            h3 {
                padding: 0;
                @media only screen and (max-width: 1024px) {
                    padding: 0 15px;
                }
            }
            img {
                border-radius: 60%;
                display: none;
                @media only screen and (max-width: 1024px) {
                    display: block;
                }
            }
        }
    }
}