.searchContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px 20px 0 20px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    
    .searchrow {
        display: flex;
        align-self: center;
        padding: 8px 15px;
        border: 1px solid #ffffff;
        border-radius: 50px;
        width: 100%;
        color: rgba(116, 112, 112, 0.842);
        background-color: rgba(40, 98, 116, 0.075);
        div {
            display: flex;
            justify-content: center;
            align-self: center;
            padding-right: 5px;
            svg {
                font-size: 22px;
            }
        }
        form {
            input {
                padding: 5px 10px;
                font-size: 15px;
                border: none;
                outline: none;
                border-radius: 50px;
                background-color: transparent;
                &::placeholder {
                    color: rgba(116, 112, 112, 0.842);
                }
            }
        }
    }
}