div {
    .container {
        .row {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            .col-3 {
                border-right: 1px solid rgb(235, 238, 240);
                @media only screen and (max-width: 500px) {
                    display: none;
                }
            }
            .col-5 {
                max-width: 600px;
                width: 100%;
                border-right: 1px solid rgb(235, 238, 240);
                background-color: rgb(247, 249, 250);
            }
            .col-4 {
                max-width: 380px;
                @media only screen and (max-width: 1005px) {
                    display: none;
                }
            }
        }
    }
}
